In [1]:
import pandas as pd
import yfinance as yf
import datetime
import time
import requests
import io
import csv
outputCSV = "outputData/stocks.csv"

In [2]:
# These can be edited to cover any time period
start = datetime.datetime(2020,12,1)
end = datetime.datetime(2020,12,31)

In [3]:
# This will download a complete list of companies on the NASDAQ exchange, but we don't need it.  
# Saving for reference tho
# url="https://pkgstore.datahub.io/core/nasdaq-listings/nasdaq-listed_csv/data/7665719fb51081ba0bd834fde71ce822/nasdaq-listed_csv.csv"
# s = requests.get(url).content
# companies = pd.read_csv(io.StringIO(s.decode('utf-8')))
# companies

In [8]:
# This extracts the symbols from the list above.  also not needed
# Symbols = companies['Symbol'].tolist()

# our stocks to track.  I didn't write down which we were tracking so I just listed a few 
# I knew off top of my head.

symbols = ['aapl', 'ge', 'ibm','tsla']

In [9]:
# create empty dataframe
stockFinal = pd.DataFrame()

# iterate over each symbol
for ticker in symbols:  
    
    # print the symbol which is being downloaded
    # print( str(symbols.index(i)) + str(' : ') + i, sep=',', end=',', flush=True)  
    
    try:
        # download the stock price 
        stock = []
        stock = yf.download(ticker, start=start, end=end, progress=False)
        
        # append the individual stock prices 
        if len(stock) == 0:
            None
        else:
            stock['Name']=ticker
            stockFinal = stockFinal.append(stock,sort=False)
    except Exception:
        None
stockFinal

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2020-12-01,121.010002,123.470001,120.010002,122.720001,122.720001,128166800,aapl
2020-12-02,122.019997,123.370003,120.889999,123.080002,123.080002,89004200,aapl
2020-12-03,123.519997,123.779999,122.209999,122.940002,122.940002,78967600,aapl
2020-12-04,122.599998,122.860001,121.519997,122.250000,122.250000,78260400,aapl
2020-12-07,122.309998,124.570000,122.250000,123.750000,123.750000,86712000,aapl
...,...,...,...,...,...,...,...
2020-12-23,632.200012,651.500000,622.570007,645.979980,645.979980,33173000,tsla
2020-12-24,642.989990,666.090027,641.000000,661.770020,661.770020,22865600,tsla
2020-12-28,674.510010,681.400024,660.799988,663.690002,663.690002,32278600,tsla
2020-12-29,661.000000,669.900024,655.000000,665.989990,665.989990,22910800,tsla
2020-12-30,672.000000,696.599976,668.359985,694.780029,694.780029,42846000,tsla

In [10]:
stockFinal.head(10)

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2020-12-01,121.010002,123.470001,120.010002,122.720001,122.720001,128166800,aapl
2020-12-02,122.019997,123.370003,120.889999,123.080002,123.080002,89004200,aapl
2020-12-03,123.519997,123.779999,122.209999,122.940002,122.940002,78967600,aapl
2020-12-04,122.599998,122.860001,121.519997,122.250000,122.250000,78260400,aapl
2020-12-07,122.309998,124.570000,122.250000,123.750000,123.750000,86712000,aapl
2020-12-08,124.370003,124.980003,123.089996,124.379997,124.379997,82225500,aapl
2020-12-09,124.529999,125.949997,121.000000,121.779999,121.779999,115089200,aapl
2020-12-10,120.500000,123.870003,120.150002,123.239998,123.239998,81312200,aapl
2020-12-11,122.430000,122.760002,120.550003,122.410004,122.410004,86939800,aapl
2020-12-14,122.599998,123.349998,121.540001,121.779999,121.779999,79184500,aapl

In [11]:
# delete columns we don't care about, in place
stockFinal.drop(['Open', 'High', 'Low', 'Adj Close'], axis = 1, inplace = True)
# write to CSV (will fail if you don't have the outputData directory)
stockFinal.to_csv(outputCSV, encoding = 'utf-8')


stockFinal

                 Close     Volume  Name
Date
2020-12-01  122.720001  128166800  aapl
2020-12-02  123.080002   89004200  aapl
2020-12-03  122.940002   78967600  aapl
2020-12-04  122.250000   78260400  aapl
2020-12-07  123.750000   86712000  aapl
...                ...        ...   ...
2020-12-23  645.979980   33173000  tsla
2020-12-24  661.770020   22865600  tsla
2020-12-28  663.690002   32278600  tsla
2020-12-29  665.989990   22910800  tsla
2020-12-30  694.780029   42846000  tsla

[84 rows x 3 columns]