In [8]:
import pandas as pd
import yfinance as yf
import datetime
import time
import requests
import io
import csv
outputCSV = "outputData/stocks.csv"

In [9]:
# These can be edited to cover any time period
start = datetime.datetime(2014,1,14)
end = datetime.datetime(2020,12,31)

In [10]:
# This will download a complete list of companies on the NASDAQ exchange, but we don't need it.  
# Saving for reference tho
# url="https://pkgstore.datahub.io/core/nasdaq-listings/nasdaq-listed_csv/data/7665719fb51081ba0bd834fde71ce822/nasdaq-listed_csv.csv"
# s = requests.get(url).content
# companies = pd.read_csv(io.StringIO(s.decode('utf-8')))
# companies

In [11]:
# This extracts the symbols from the list above.  also not needed
# Symbols = companies['Symbol'].tolist()

# our stocks to track.  I didn't write down which we were tracking so I just listed a few 
# I knew off top of my head.

symbols = ['FDX', 'DHL', 'UPS','AMZN', 'Ebay','Tesla','TM','LUV','DAL','TWTR','FB']

In [12]:
# create empty dataframe
stockFinal = pd.DataFrame()

# iterate over each symbol
for ticker in symbols:  
    
    # print the symbol which is being downloaded
    # print( str(symbols.index(i)) + str(' : ') + i, sep=',', end=',', flush=True)  
    
    try:
        # download the stock price 
        stock = []
        stock = yf.download(ticker, start=start, end=end, progress=False)
        
        # append the individual stock prices 
        if len(stock) == 0:
            None
        else:
            stock['Name']=ticker
            stockFinal = stockFinal.append(stock,sort=False)
    except Exception:
        None
stockFinal

1 Failed download:
- TESLA: No data found, symbol may be delisted

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2014-01-14,140.949997,142.830002,139.729996,142.699997,133.108688,2344500,FDX
2014-01-15,142.779999,143.139999,141.940002,142.550003,132.968735,2692200,FDX
2014-01-16,141.919998,142.500000,140.949997,141.809998,132.278473,1928100,FDX
2014-01-17,140.610001,141.869995,140.089996,140.509995,131.065903,2293000,FDX
2014-01-21,141.710007,142.619995,140.800003,142.149994,132.595657,2509000,FDX
...,...,...,...,...,...,...,...
2020-12-23,266.890015,272.170013,266.230011,268.109985,268.109985,14329000,FB
2020-12-24,268.880005,270.399994,266.200012,267.399994,267.399994,6702000,FB
2020-12-28,268.739990,277.299988,265.660004,277.000000,277.000000,23299700,FB
2020-12-29,276.950012,280.510010,276.279999,276.779999,276.779999,16383000,FB
2020-12-30,277.950012,278.079987,271.709991,271.869995,271.869995,11803800,FB

In [13]:
stockFinal.head(10)

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2014-01-14,140.949997,142.830002,139.729996,142.699997,133.108688,2344500,FDX
2014-01-15,142.779999,143.139999,141.940002,142.550003,132.968735,2692200,FDX
2014-01-16,141.919998,142.500000,140.949997,141.809998,132.278473,1928100,FDX
2014-01-17,140.610001,141.869995,140.089996,140.509995,131.065903,2293000,FDX
2014-01-21,141.710007,142.619995,140.800003,142.149994,132.595657,2509000,FDX
2014-01-22,142.750000,142.839996,141.630005,142.300003,132.735580,1337100,FDX
2014-01-23,141.610001,141.990005,139.350006,140.240005,130.814041,1836300,FDX
2014-01-24,139.160004,139.389999,134.570007,134.580002,125.534424,3089300,FDX
2014-01-27,134.690002,135.779999,131.080002,131.949997,123.081230,4738700,FDX
2014-01-28,131.990005,134.639999,131.990005,134.339996,125.310577,3169700,FDX

In [14]:
# delete columns we don't care about, in place
stockFinal.drop(['Open', 'High', 'Low', 'Adj Close'], axis = 1, inplace = True)
# write to CSV (will fail if you don't have the outputData directory)
stockFinal.to_csv(outputCSV, encoding = 'utf-8')


stockFinal

                 Close    Volume Name
Date
2014-01-14  142.699997   2344500  FDX
2014-01-15  142.550003   2692200  FDX
2014-01-16  141.809998   1928100  FDX
2014-01-17  140.509995   2293000  FDX
2014-01-21  142.149994   2509000  FDX
...                ...       ...  ...
2020-12-23  268.109985  14329000   FB
2020-12-24  267.399994   6702000   FB
2020-12-28  277.000000  23299700   FB
2020-12-29  276.779999  16383000   FB
2020-12-30  271.869995  11803800   FB

[16054 rows x 3 columns]